body{
    margin: 0;
    padding:0;
    height:100vh;
    font-family: 'Open Sans', sans-serif;
    background: url("https://source.unsplash.com/1600x900/?lanscape");
    background-size: cover;
}
.card{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    max-width: 450px;
    background: #000000d0;
    color: white;
    padding: 1.5em;
    border-radius: 30px;
    
}
.search{
    display: flex;
    align-items:center;
    justify-content: center;
}
button{
    margin:0.5em;
    border-radius: 50%;
    border: none;
    outline: none;
    height: 31px;
    width: 31px;
    background: #7c7c7c2b;
    color: white;
}
button:hover{
    background: #7c7c7c6b;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}
.search-bar{
    border: none;
    outline: none;
    padding: 7px;
    border-radius:30px;
    background: #7c7c7c2b;
    color: white;
    font-family: inherit;
    width: 80%;

}
h1 .temp{
    margin: 0;
    margin-bottom: 0.5em;
}

.description{
    text-transform: capitalize;
}
.flex{
    display: flex;
    align-items: center;
}

.weather.loading{
    visibility: hidden;
    max-height: 20px;
    position: relative;
}
.weather.loading:after {
    visibility: visible;
    content: "Loading...";
    color: white;
    position: absolute;
    top:0;
    left:20px;
}

@media(max-width:700px){
    .card{
        max-width: 270px;
    }
}

